body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: lavender;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    padding-top:25px ;
    text-align: center;
    color: rgb(36, 36, 37);
    border-radius: 0;
    border-bottom: 10px solid black;
    background-color: rgb(106, 139, 139);
    height: 260px;
    
  }
  .container {
      grid-row: auto;
  }
  
  .display-3{
    color: lavender;

  }
  .description {
    white-space: pre-wrap;
    
   
  }

  #currentDay {
      font-size: 30px;
      padding-bottom: 0px;
      color: rgb(19, 46, 46);
      font-weight:bolder;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 52px;
    margin: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(182, 183, 184);
    
    /* border-top: 1px solid rgb(106, 119, 118); */
    
    
    
  }
  
  .hour {
    border-left: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #255355;
    height: 52px;
    color: white;
    width: 80px;
    padding-top: 17px;
    border: 1px;
    border-color: lightgray;
    
  }
  
  .past {
    background-color: #bbb6b6;
    color: white;
    width: 83.3%;
  }
  
  .present {
    background-color: #b3342e;
    color: white;
    width: 83.3%;
  }
  
  .future {
    background-color: #5d9d8c;
    color: white;
    width: 83.3%;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #255355;
    height: 50px;
    color: white;
    width: 91px;
    align-self: rigth;
    
  }
  
  .saveBtn:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 3px 5px rgb(175, 140, 167);
  }
  